@import url('https://fonts.googleapis.com/css2?family=Nabla&display=swap');

@font-face {
    font-family: 'Share Tech';
    src: url("../../../public/fonts/share-tech.woff");
}

.css-wrapper {
    color: red;
    font-family: 'Share Tech';
}